@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

header {
  margin: 1rem auto;
}

nav {
  margin: 1rem;
}

p {
  margin: .25rem 0;
}

nav a {
  padding: 0 .5rem;
}

h1 {
  margin: 0;
}

.index {
  height: 100vh;
}

.index header {
  margin: 0;
}

.index h1 {
  /*font-size: 3rem;*/
}

h2 {
  font-weight: 300;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-space {
  justify-content: space-between;
}

.flex-grow {
  flex: 1 1 auto;
}

.gallery-index {
  background-image: url('http://i.imgur.com/DCvaC4z.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #424242;
  color: white;
}

.gallery-index h1 { font-size: 4rem; }

.gallery-index a {
  color: white;
}

canvas {
  margin: 1rem;
  /*border: 2px solid black;*/
}

.wrap {
  margin: 0rem auto;
  max-width: 30rem;
}

@media (max-width: 600px) {
  .wrap {
    max-width: 20rem;
  }
}

.home-page {
  color: white;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-page h1 { font-size: 4rem; }

.home-page a {
  color: white;
}

.img-container {
  width: 250px;
}

.gallery-img {
  width: 500px;
}

.gallery-page {
  /*background-color: whitesmoke;*/
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.my1 { margin: 1rem 0; }
.my2 { margin: 2rem 0; }
.mx1 { margin: 0 1rem; }
.mx2 { margin: 0 2rem; }
